<div id="main2">
  <h1>Our Terms and Agreements</h1>
  this section provides a detail description of our terms and agreements and how users are going to use this software and what will not be allowed in the course of our training ...
</div>