.small-fonts{
   font-size: 12px;
 }

 .about-info{
  margin-top: 10px;
 }

 .reg-details{
   float: right;
   width: 420px;
 }

 .reg-form{
   margin-top: 10px;
 }

 .justify-text{
    text-align: justify;
 }

 .footer-links{
   text-align: left;
   width: 950px;
   margin: 0 auto;
   padding-bottom: 20px;

   li{
     display: inline;
     margin-right: 30px;
     font-size: 12px;
   }
 }